<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{part/layout}">
  <th:block layout:fragment="title"> 로그인 </th:block>
  <th:block layout:fragment="body">
    <div class="login-box">
      <div class="card">
        <form class="card card-outline card-primary" style="margin-bottom: unset;" name="sub1000" method="POST" autocomplete="off" onsubmit="return false;" novalidate>
          <div class="card-header text-center">
            <a href="/" class="h1"> PrintBank-CMS </a>
          </div>
          <div class="card-body">
            <p class="login-box-msg"> Sign in to start your session </p>
            <div class="input-group mb-3">
              <input class="form-control" type="text" name="id" placeholder="아이디" required="아이디">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"> </span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input class="form-control" type="password" name="pw" placeholder="비밀번호" required="비밀번호">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"> </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <button class="btn btn-primary btn-block" data-action="post" data-url="/sub1000"> Sign In! </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </th:block>
</html>